#table-generic {
    border-collapse: collapse;
    width: 80%;
}

#table-generic td, #table-generic th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-generic tr:nth-child(even){background-color: #f2f2f2;}

#table-generic tr:hover {background-color: #ddd;}

#table-generic th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #888B8C;
    color: white;
}

h2 {
    text-align: center;
}

button {
    width: 10%;
    font-family: 'Staatliches', cursive;
    font-size: 15px;
}
