/*input[type=text], select {*/
/*    width: 50%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*}*/

.action-btn {
    /* width: 100%; */
    width: calc(1/2 * 100% - 2rem);
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: #E6E6E6;
    border: 5px;
    color: black;
}

.action-btn:hover {
    background-color: grey;
}

.form-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

input, select {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.fieldError {
    display: block;
    color: red;
    margin-top: 0px;
    margin-bottom: 1.5rem;
}

.errorSummary {
    display: block;
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}


[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}